// VALUES
$UNDERLINE_HEIGHT:  1px;
$TITLE_SIZE:        180px;

$TRANSITION_DURATION: 0.3s;
$TRANSITION_EASE: ease-in-out;

$TRANSITION_DURATION: 0.2s;
$TRANSITION_EASE: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// COLORS
$BACKGROUND_WHITE: #f5f2f2; //#e7e1e1
$BACKGROUND_DARK:  #090909; //#121212

$WHITE: #fff;
$BLACK: #000;
