@import './variables';

.underline {
    position: relative;
    overflow: visible !important;

    &::after {
        content: "";
        
        position: absolute;
        bottom: -2px;
        left: 0px;

        width: 100%;
        height: $underline-height;

        transition: width .2s cubic-bezier(0.445, 0.05, 0.55, 0.95); //cubic-bezier(0.39, 0.575, 0.565, 1)
        background-color: rgba( 255, 255, 255, 0.8);
    }
}

a:is(.underline) {
    text-decoration: none;
}

.line-hover {
    &::after{
        width: 0%;
    }

    &:hover::after {
        width: 100%;
    }
}

@media screen and (max-width: 530px){
    .keep-line-on-mobile {
        &::after{
            width: 100% !important;
        }   
    }
}
