@use '@styles/abstracts/variables' as *;

:root {
    overscroll-behavior: none;
    scrollbar-width: none;
    user-select: none;
    
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-scrollbar {
        display: none;
    }
}

html,
body {
    overscroll-behavior: none;
    overscroll-behavior-y: none;
}

body {
    background: $BACKGROUND_DARK;
}
