.route-transition {
    &__svg {
        height: 100vh;        
        inset: 0;
        pointer-events: none;
        position: fixed;
        width: 100vw;
        z-index: 100;
    }

    &__path {
        will-change: d;
    }

    &__fadeIn {
        opacity: 0;
        animation: fadeIn 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s forwards;
    }
    
    &__fadeOut {
        opacity: 1;
        animation: fadeOut 1.0s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards; //  cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
}
